#game {
    margin: auto;
    padding: 0.5rem;
    border: 1px solid $light-gray;
}

.fizz-buzz-item {
    display: inline-block;
    padding: 2%;
    width: 75px;
    height: 45px;
    margin: 0.2rem;
    border: 1px solid $light-gray;
    text-align: center;
    &.fizz {
        background: $fizz-background-color;
    }
    &.buzz {
        background: $buzz-background-color;
    }
    &.fizzbuzz {
        background: $fizzbuzz-background-color;
    }
}