$font-color: #02091A;
$font-family: Arial, sans-serif;

$light-gray: #e5e6e8;
$gray: #80848c;
$dark-gray: #02091A;

$fizz-background-color: #c6ff00;
$buzz-background-color: #ff6e40;
$fizzbuzz-background-color: #9fa8da